 
/*Image en bakcground pour index*/
 html, body { 
 	background-color: white;
}

.border-in-bottom {
	  border-bottom-style: solid;
    border-bottom-color: rgb(120,120,120);
    border-bottom-width: 1px;
}


.mot-du-top {
	text-align: center;
	height: 400px;
	color: black;
	font-family: "Noto Sans";
	/*width: 80%;*/
	line-height: 25px;
	/*max-width: 600px;*/
	/*margin-top:80px;*/
	/*padding-bottom: 100px;*/
}

.mot-du-top h1{
	font-size: 30px;
}
.mot-du-top p{
	font-size: 15px;
}

.back-container {
 	background: url("../images/fond/photoBlur1blue.png") no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;


}

.container-team {
	
	color: white;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.container-team h1{
	font-size: 40px;
	
}
.container-team p{
	font-size: 16px;
}





/*Les textes dans photos*/
.spanName {
	font-size:20px;
	 color:white
}

.equipePhoto {
	width: 70%;
	height: 70%
}


@media (min-width: 768px) {
	.spanName {
	font-size:30px;
	 
	}
	.equipePhoto{
		width: 300px;
		height: 300px;
	}

}



































.boiteEvenement {
	background-color: rgba(0,0,0,0.7);
}

.boiteEvenement h1{
	color: #eeeeee
}

.sousBoiteEvenement {
	border-left-style: solid;
	border-left-color: rgba(255,100,100,1.0);
	border-left-width: 3px;
	max-width: 900px;
	margin-bottom:50px;
}

	.sousBoiteEvenement h1 {
			font-size: 50px;

	}
	.sousBoiteEvenement h2 {
		font-size: 30px;
		color: #eeeeee;	
	}
	.sousBoiteEvenement h3 {
		font-size: 30px;

		color: rgba(97,157,255,1.0);	
	}
	.sousBoiteEvenement h4 {
		font-size: 15px;
		line-height: 3px;
		font-family: "Noto Sans";
		color: rgba(255, 100, 100, 1.0);
	}
	.sousBoiteEvenement p {
		font-size: 15px;
		font-family: "Noto Sans";
		color: rgba(255, 100, 100, 1.0);
	}
	.sousBoiteEvenement a{
		font-size: 15px;
	}

.sousBoiteEvenement a{
	background-color: transparent;
	color: white;
	border: rgba(255,255,255,1.0);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	border-style: solid;
	border-width: 2px;
	font-family: "Noto Sans";
	border-radius: 5px;
	font-size: 13px;
}

.sousBoiteEvenement a:hover{
	color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5);
	text-decoration: none;
	
}

@media (min-width: 768px) {
	.sousBoiteEvenement h1 {
			font-size: 70px;

	}
	.sousBoiteEvenement h2 {
		font-size: 40px;
		color: #eeeeee;	
	}
	.sousBoiteEvenement h3 {
		font-size: 40px;

		color: rgba(97,157,255,1.0);	
	}
	.sousBoiteEvenement h4 {
		font-size: 20px;
		line-height: 3px;
		font-family: "Noto Sans";
		color: rgba(255, 100, 100, 1.0);
	}
	.sousBoiteEvenement p {
		font-size: 20px;
		font-family: "Noto Sans";
		color: rgba(255, 100, 100, 1.0);
	}
	.sousBoiteEvenement a{
		font-size: 15px;
	}
}




/*
.textHeader h1{
	font-size: 60px;
	color: rgba(0,0,0,0.5);

}*/


#downIndex{
	width: 100%;
    height: 100%;
    min-height: 100%;
    background: red;
    display: block;
    background-color: rgba(20, 20, 20, 1.0);
}


/*Permet d'être plein écran*/
.fill { 
    min-height: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}


.sous-titre h3{
	font-size: 30px;
	color: rgba(0,0,0,0.5);
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.imageGPS {

}



@media (min-width: 768px) {
	.boiteEvent{
		display: inline-block;
		margin: 0 auto;
    	overflow: hidden;
		width: 50%;
		max-width: 500px;
		min-width: 320px;
	}
	.centerEvent{
		/*display: center-block;*/

	}

}


ul {
list-style-type: none;
}


#imgBottom {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#footerBottom {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: auto;
  color: black;
  padding-top: 0px;
  margin-top: 0px;
  background-color: white;	
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 1px;

}
#footerBottom a{
	color: black;
}
#footerBottom a:hover{
	color: #147ECC;
}

.footerSecondaire {
  position: relative;
  bottom: 0;
  width: 100%;
  font-family : "Noto Sans";
  /* Set the fixed height of the footer here */
  height: auto;
  color: rgba(200,200,200,1.0);
  background-color: rgba(20,20,20,1.0);
}




.centerSM {
	text-align: center;
}


@media (min-width: 768px) {

	.centerSM {
		text-align: left;
	}

}



.divider {
    border: 1px solid #888888;
    max-width: 200px;
}


.boxed {
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	height: 100%;
	border-width: 3px;
	border-color: #aaaaaa;

}


#commenditaire{
	font-family: "Noto Sans"
}



.buttonGoDown {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: rgba(20,20,20,0.5);
	font-size: 1.5em;
}


.evenement-new {
	background-color: rgba(250,0,0,0.5);
	position:absolute;
	bottom:0; 
	width:100%
}


.removePadding{
	padding: 0 0 0 0;
	margin: 0 0 0 0 ;
}




.team-Member img {
	margin-bottom: 30px;
}



.caroussel-responsive {
	
}











