/*
 * Header
 */

.masthead-brand {
  padding-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 30px;
  text-decoration: none;
  height: 100%;
      text-align: center;
}
.masthead-brand a {
  color: black;
  text-align: center;
}
.masthead-brand a:hover{
  text-decoration: none;

}
.masthead-nav {
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}
.masthead-nav > li {
    display: inline;
    text-align: center;

}
.masthead-nav > li + li {
  margin-left: 0px;
}
.masthead-nav > li > a {

  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  color: #096BB2;
  background-color: white;

}



.masthead {
  width: 100%;
  /*height: auto;*/
  /*color: white;*/
  display: block;
  background-color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*On passe dans ce mode et on va ajuster pour center le tout*/
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
    padding-right: 50px;
    padding-left: 50px;

  }
   /*  Tout le hover (la ligne sous le nav)*/
  .masthead-nav > li {
    display: inline-block;
    padding-left: 0px;
    text-align: left;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    /*background-color: transparent;*/

    padding-left: 15px;
    padding-right: 15px;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 0.4s; /* Firefox < 16 */
          -ms-animation: fadein 0.4s; /* Internet Explorer */
           -o-animation: fadein 0.4s; /* Opera < 12.1 */
              animation: fadein 0.4s;
     background-color: #147ECC;
     color: white;
  }


   /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .masthead-brand {
    text-align: center;
    margin-right: 25px;
    margin-top:10px;
    font-size: 30px;
  

  }
  .masthead-nav {
    display: block;

    text-align: center;
    margin-bottom: 10px;

  }

 
}


@media (min-width: 1200px) {
  .masthead-brand {
    /*float: left;*/
    padding-top: 0px;
    font-size: 30px;
    padding-bottom: 0px;
    margin-top:10px;
    font-size: 40px;

  }
  .masthead-nav {
    /*float: right;*/
    margin-top:0px;
    margin-top:-10px;
    margin-bottom: 10px;

  }
  .masthead{
    height: 100%;
  }
}
.removePadding{
  padding: 0 0 0 0;
  margin: 0 0 0 0 ;
}


@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {

  .masthead{
    height: 100%;
  }
}

.navbar-toggle .icon-barCool + .icon-barCool {
  margin-top: 6px;
}



.icon-barCool {
  display: block;
  width: 25px;
  background-color: #000000;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-barCool + .icon-barCool {
  margin-top: 6px;
}



/*Animation pour le evenement hover*/

@keyframes fadein {
    from { background-color: transparent; color:#096BB2;  }
    to   {  background-color: #147ECC; color: white; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { background-color: transparent; color:#096BB2;}
    to   {  background-color: #147ECC; color: white; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background-color: transparent; color:#096BB2;}
    to   {  background-color: #147ECC; color: white; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { background-color: transparent; color:#096BB2;}
    to   {  background-color: #147ECC; color: white; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { background-color: transparent;color:#096BB2; }
    to   {  background-color: #147ECC; color: white; }
}





@keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent; color:#096BB2;}
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent; color:#096BB2;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent; color:#096BB2;}
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent;color:#096BB2; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent;color:#096BB2; }
}


.imgTop {
  width: 100%;
  /*min-width: 1000px;*/
  
}

.barInMiddle {
  /*display: block;*/
/*  position: absolute;
  top:0;*/
  width: 100%;
  
}

.nextEventMiddle {
  
  /*display: block;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left:15%;*/
  height: 84px;
  /*margin-top: 5px;*/
  /*width: 50%;*/
  /*max-width: 500px;*/
  /*margin-top:34px;*/
  /*z-index: 1;*/
  margin-top:16px;
  background-color: white;

}

@media (min-width: 768px) {
  .nextEventMiddle {
    /*margin-top:-200px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top:45%;*/
    /*left:15%;*/
    /*height: 80px;*/
    /*width: 50%;*/
    /*max-width: 500px;*/
    /*margin-top:34px;*/
    width: auto;
    /*z-index: 1;*/
    background-color: white;
  }
  .barInMiddle{
       /*display: block;*/
    position: absolute;
    top:50%;
   /* left:15%;*/
    width: 100%;
    margin-top:-50px;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .nextEventMiddle{
    
    width: auto;
  }
}

.marginTopNav {
  margin-top: 0px;
}
@media (min-width: 1200px) {
  .marginTopNav {
    margin-top: 18px;
  }

}



/*
 * Header
 */

.mastheadl-brandl {
  padding-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: -25px;
  font-size: 30px;
  text-decoration: none;
  height: 100%;

}
.mastheadl-brandl a {
  color: #096BB2;
 
}
.mastheadl-brandl a:hover{
  text-decoration: none;
}
.mastheadl-navl {
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}
.mastheadl-navl > li {
    display: inline;
    text-align: center;

}
.mastheadl-navl > li + li {
  margin-left: 0px;
}
.mastheadl-navl > li > a {

  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  color: #096BB2;
  background-color: white;

}


@media (min-width: 1200px) {
  .mastheadl-brandl {
    float: left;
    padding-top: 0px;
    font-size: 60px;

  }
  .mastheadl-navl {
    float: right;

  }
}
.removePadding{
  padding: 0 0 0 0;
  margin: 0 0 0 0 ;
}


.mastheadl {
  width: 100%;
  height: auto;
  color: white;
  display: block;
  background-color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/*On passe dans ce mode et on va ajuster pour center le tout*/
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastheadl {
    position: static;
    top: 0;
    padding-right: 50px;
    padding-left: 50px;
  }
   /*  Tout le hover (la ligne sous le nav)*/
  .mastheadl-navl > li {
    display: inline-block;
    padding-left: 0px;
    text-align: left;
  }
  .mastheadl-navl > li > a:hover,
  .mastheadl-navl > li > a:focus {
    /*background-color: transparent;*/

    padding-left: 15px;
    padding-right: 15px;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 0.4s; /* Firefox < 16 */
          -ms-animation: fadein 0.4s; /* Internet Explorer */
           -o-animation: fadein 0.4s; /* Opera < 12.1 */
              animation: fadein 0.4s;
     background-color: #147ECC;
     color: white;
  }


   /* Handle the widths */
  .mastheadl,
  .mastfoot,
  .cover-containerl {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .mastheadl-brandl {
    text-align: center;
    margin-right: 25px;
    font-size: 60px;
  

  }
  .mastheadl-navl {
    display: block;

    text-align: center;


  }

 
}

@media (min-width: 992px) {
  .mastheadl,
  .mastfoot,
  .cover-containerl {
    width: 100%;
  }
}


.navbar-toggle .icon-barCool + .icon-barCool {
  margin-top: 6px;
}



.icon-barCool {
  display: block;
  width: 25px;
  background-color: #000000;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-barCool + .icon-barCool {
  margin-top: 6px;
}



#coverIndex {
  background-color: white;
}
/*Animation pour le evenement hover*/

@keyframes fadein {
    from { background-color: transparent; color:#096BB2;  }
    to   {  background-color: #147ECC; color: white; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { background-color: transparent; color:#096BB2;}
    to   {  background-color: #147ECC; color: white; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background-color: transparent; color:#096BB2;}
    to   {  background-color: #147ECC; color: white; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { background-color: transparent; color:#096BB2;}
    to   {  background-color: #147ECC; color: white; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { background-color: transparent;color:#096BB2; }
    to   {  background-color: #147ECC; color: white; }
}





@keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent; color:#096BB2;}
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent; color:#096BB2;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent; color:#096BB2;}
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent;color:#096BB2; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { background-color: #147ECC; color: white;}
    to   {  background-color: transparent;color:#096BB2; }
}


.imgTop {
  width: 100%;
  min-width: 1000px;
  
}


